NODE_ENV="development"
PORT=4000

DATABASE_URL="postgresql://postgres:abhishek12345@localhost:5432/ecommerceapplication"

FRONTEND_URL="http://localhost:3000"

JWT_ACCESS_TOKEN_SECRET="your_access_token_secret"
JWT_ACCESS_TOKEN_EXPIRY="7d"
JWT_REFRESH_TOKEN_SECRET="your_refresh_token_secret"
JWT_REFRESH_TOKEN_EXPIRY="30d"

CLOUDINARY_CLOUD_NAME = "your_cloudianry_cloud_name"
CLOUDINARY_API_KEY = "cloudianry_api_key"
CLOUDINARY_API_SECRET = "cloudianry_api_secret"

REDIS_HOST="127.0.0.1"
REDIS_PORT=6379